@charset "utf-8";
html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section--featured {
  height: 860px;
  background-color: #eaeaea;
}

.section--featured .row,
.section--featured .column,
.section--featured .ItemCard,
.section--featured .ItemCard__thumb {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section--featured .row {
  position: absolute;
  top: -400px;
  right: 60vh;
  width: 960px;
  -webkit-transform: rotateX(60deg) rotateZ(-45deg) scale(1.2);
          transform: rotateX(60deg) rotateZ(-45deg) scale(1.2);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 720px) {
  .section--featured .row {
    right: 70vh;
  }
}
@media screen and (min-width: 860px) {
  .section--featured .row {
    top: -450px;
    right: 90vh;
  }
}
@media screen and (min-width: 1000px) {
  .section--featured .row {
    right: 110vh;
  }
}
.section--featured .column {
  width: 50%;
  max-width: 50%;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.section--featured .shadow {
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: .9;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) shadow 2;
          animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) shadow 2;
}

.section--featured .ItemCard__thumb img {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  -webkit-animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) levitate 2;
          animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) levitate 2;
}

@media screen and (min-width: 640px) {
  .column {
    width: 320px;
    max-width: 50%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 320px;
        -ms-flex: 1 1 320px;
            flex: 1 1 320px;
  }
}
@media screen and (min-width: 940px) {
  .column {
    width: 313.33333333px;
    max-width: 33.333%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 313.33333333px;
        -ms-flex: 1 1 313.33333333px;
            flex: 1 1 313.33333333px;
  }
}
.ItemCard {
  position: relative;
  max-width: 510px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemCard__thumb {
  position: relative;
  padding: 0;
}

.ItemCard__thumb img {
  display: block;
  cursor: pointer;
}

.section--featured .column:hover .ItemCard__dest {
  z-index: 10;
}

.section--featured .column:hover .ItemCard__thumb img {
  -webkit-transform: translate3d(0, 0, 50px) rotateX(-5deg);
          transform: translate3d(0, 0, 50px) rotateX(-5deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.section--featured .column:hover .ItemCard__thumb .shadow {
  opacity: .6;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
}

@keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
}
@-webkit-keyframes shadow {
  0% {
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
  }
  100% {
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}
@keyframes shadow {
  0% {
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
  }
  100% {
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}