@charset "utf-8";

@font-face {
    font-family: 'fzFont';
    src: url('../font/_-webfont.woff2') format('woff2'),
         url('../font/_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{padding:0; margin:0;}
body{color:#000; background-color:#fff;font-family:"fzFont", Arial, sans-serif; font-size:100%; line-height:100%;}

.warp{width:100%; padding-top:60px; min-height:600px;}
.cont{width:960px; margin-left:auto; margin-right:auto;}
.clearfix{*zoom: 1;clear:both;}
.clearfix:after {display:table; content:""; clear:both;}
.filter{display:block; width:100%; font-size:12px; text-align:left; font-family:"Microsoft Yahei","微软雅黑","Tahoma","SimSun";}
.filter ul{*zoom:1; clear:both; width:100%; display:block;}
.filter ul:after{display:table; content: ""; clear: both;}
.filter li{display:block; float:left; position:relative; width:100%; overflow:hidden; height:36px; border-bottom:1px dashed #ddd;}
.filter span{display:block; float:left; width:80px; text-align:right; font-weight:bold; margin-right:10px; line-height:36px;}
.filter a{display:inline-block; width:auto; text-align:left; margin-right:10px; color:#000; text-indent:5px; padding-right:5px; cursor:pointer; line-height:24px; margin-top:6px; margin-bottom:6px;  -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
.filter a:hover{background:#CFDDE3;}
.filter a.now{font-weight:normal;background:#69c; color:#fff;}
.filter a.now:hover{background:#875396; color:#fff;}
.filter a.all{width:40px; text-align:center;}
.filter-cont{width:90%; display:block; float:left;}
.filter .more{position:absolute; right:0px; top:6px; line-height:24px; width:60px; text-align:left; display:block; color:#69c; text-indent:25px; cursor:pointer;}
.filter .down{background:url(../images/down.png) 5px center no-repeat #fff;}
.filter .up{background:url(../images/up.png) 5px center no-repeat #fff;}

.filter li.sildown{height:auto; overflow:auto;}

header{width:100%; display:block;height:300px; text-align:center; font-size:1em; position:relative; background:url(../images/top.jpg) top no-repeat; background-size:100%; box-shadow:0 10px 10px #F1E5E5; border-bottom:5px solid #fff; color:#fff;}
figure{width:100%; min-height:300px; text-shadow: 0 0 10px #000;}
figure .logo{background:url(../images/logo.png) #69c no-repeat center; width:88px; height:88px; display:block; position:absolute; left:50%; bottom:-44px; border:5px solid #fff; margin-left:-44px;-webkit-border-radius:100%; -moz-border-radius:100%;  border-radius:100%;  background-size:50%;}
figcaption{line-height:80px; font-size:2.5em; font-weight:bold; padding-top:80px;}
figure p{font-size:1.2em;}

.cont h1{line-height:50px; font-size:1em; height:50px; width:100%; overflow:hidden; position:relative; border-bottom:1px solid #ddd; margin-bottom:30px; box-shadow:0px 10px 10px #EDEBEB;}
.cont h1 i{display:inline-block; font-style:normal; font-weight:bold; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:3em; text-align:right;  position:absolute; left:-10px; color:#97393B; line-height:80px; top:-15px;}
.cont h1 abbr{display:inline-block; font-size:1.2em;text-indent:56px;}

footer{width:100%; display:block; border-top:1px solid #ddd; line-height:18px; padding-top:30px; padding-bottom:30px; text-align:center; font-size:1em; color:#444; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
footer h6{font-weight:normal;}
footer abbr{margin-left:10px; margin-right:10px;  font-size:.8em;}

.outPut{width:100%; display:none;}
.outPut code{color:#000; font-size:14px; width:960px; margin:20px auto; display:block; background:url(../images/out.png) 20px center no-repeat #eaeaea;}
.outPut code p{padding-left:80px; padding-right:20px; line-height:60px;}
.outPut b{font-size:14px; color:#6E0C0E;}
